<div class="btn-cont" *ngFor="let event of events">
  <button type="button" (click)="event.show = !event.show" #triggerButton
          class="btn btn-{{event.class}}">{{event.listener}}
  </button>

  <div class="popover fade bottom in show"
       *ngIf="event.show"
       [eventListener]="event.listener"
       [excludes]="[triggerButton]"
       (ngEventOutside)="event.show = false">

    <div class="arrow"></div>
    <h3 class="popover-title">{{event.listener}}</h3>
    <div class="popover-content">Some content</div>
  </div>
</div>


